body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #000;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 900px;
  height: 600px;
  background: #d8d8d8;
  margin: 20px;
  border-radius: 25px;
}
.container .imgBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 0px 0px 25px;
  width: 50%;
  height: 100%;
  background: #212121;
  transition: .3s linear;
}
.container .imgBox:before {
  content: 'Beer';
  position: absolute;
  top: 0px;
  left: 55px;
  color: #000;
  opacity: 0.2;
  font-size: 8em;
  font-weight: 800;
}

.container .imgBox img {
  position: relative;
  height: 400px;
  transform: rotate(-30deg);
  left: -50px;
  transition: .9s linear;
}

.container .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
}

.container .info h3 {
  /* margin-left: -115px; */
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  line-height: 1em;
  color: #444;
}

.container .info h3 span {
  font-size: 0.4em;
  text-transform: uppercase;
  margin-left: 0;
  letter-spacing: 2px;
  color: #999;
}

.container .info p {
  max-width: 85%;
  /* margin-left: 30px; */
  color: #333;
  font-size: 15px;
  margin-bottom: 36px;
}

.container .info h4 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: #a2a2a2;
  float: left;
}

@media (max-width: 1080px) {
  .container {
      height: auto;
  }
  .container .imgBox {
      padding: 40px;
      box-sizing: border-box;
      border-radius: 25px 25px 0px 0px;
      width: 100% !important;
      height: auto;
      /* text-align: left; */
      overflow: hidden;
  }
  .container .imgBox img {
      left: initial;
      max-width: 100%;
      transform: rotate(0deg);
  }
  .info {
      width: 100% !important;
      height: auto;
      padding: 20px;
  }
  .container .info p {
      margin-left: 0;
      max-width: 100%;
  }
}